-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "Role" AS ENUM ('DEPARTMENT_USER', 'ADVANCEMENT_OFFICE', 'GIFTS_COMMITTEE', 'SENATE_DIVISION', 'COUNCIL', 'ADMIN');

-- CreateEnum
CREATE TYPE "WorkflowStage" AS ENUM ('SUBMITTED', 'REVIEW', 'RECOMMEND', 'PROCESS', 'FINAL_APPROVAL');

-- CreateEnum
CREATE TYPE "RequestStatus" AS ENUM ('DRAFT', 'PENDING', 'APPROVED', 'REJECTED');

-- CreateEnum
CREATE TYPE "GiftType" AS ENUM ('CASH', 'PLEDGE', 'SECURITIES', 'IN_KIND');

-- CreateEnum
CREATE TYPE "DonorType" AS ENUM ('INDIVIDUAL', 'FOUNDATION', 'CORPORATION', 'ANONYMOUS');

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "role" "Role" NOT NULL DEFAULT 'DEPARTMENT_USER',
    "department" TEXT,
    "avatarUrl" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "GiftRequest" (
    "id" TEXT NOT NULL,
    "customId" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "giftType" "GiftType" NOT NULL,
    "value" DECIMAL(12,2) NOT NULL,
    "department" TEXT NOT NULL,
    "donorType" "DonorType" NOT NULL,
    "completionRate" INTEGER NOT NULL DEFAULT 0,
    "status" "RequestStatus" NOT NULL DEFAULT 'DRAFT',
    "currentStage" "WorkflowStage" NOT NULL DEFAULT 'SUBMITTED',
    "userId" TEXT NOT NULL,
    "lastEdited" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "GiftRequest_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Notification" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "isRead" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Notification_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ActivityLog" (
    "id" TEXT NOT NULL,
    "giftRequestId" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ActivityLog_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "GiftRequest_customId_key" ON "GiftRequest"("customId");

-- AddForeignKey
ALTER TABLE "GiftRequest" ADD CONSTRAINT "GiftRequest_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Notification" ADD CONSTRAINT "Notification_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ActivityLog" ADD CONSTRAINT "ActivityLog_giftRequestId_fkey" FOREIGN KEY ("giftRequestId") REFERENCES "GiftRequest"("id") ON DELETE CASCADE ON UPDATE CASCADE;

